---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.1
  name: underlaynetworks.controller.cloudovn.io
spec:
  group: controller.cloudovn.io
  names:
    kind: UnderlayNetwork
    listKind: UnderlayNetworkList
    plural: underlaynetworks
    singular: underlaynetwork
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.state
      name: State
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: UnderlayNetwork is the Schema for the underlaynetworks API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of UnderlayNetwork
            properties:
              defaultInterface:
                description: DefaultInterface
                type: string
            type: object
          status:
            description: status defines the observed state of UnderlayNetwork
            properties:
              message:
                type: string
              state:
                enum:
                - unspecified
                - creating
                - updating
                - active
                - deleting
                - deleted
                - failed
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
